/* App.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .App {
    height: 200vh; /* To allow enough scroll */
  }
  
  .white-section, .black-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 1s ease;
  }
  
  .white-section {
    background-color: white;
    color: black;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
  }
  
  .white-section.scrolled {
    background-color: black;
    color: white;
  }
  
  .black-section {
    background-color: black;
    color: rgb(249, 247, 247);
  }
  
  h1 {
    font-size: 3rem;
  }
  